<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{title}} | سکوی نوآوری و فناوری شستان</title>
<meta name="description" content="{{description}}">
<meta name="theme-color" content="#008000">
<link rel="icon" type="image/svg+xml" href="{{root}}assets/img/logo-mark.svg">
<link rel="preload" href="{{root}}assets/fonts/DanaFaNum-Regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="{{root}}assets/fonts/DanaFaNum-Bold.woff2" as="font" type="font/woff2" crossorigin>
<link rel="stylesheet" href="{{root}}assets/vendor/fontawesome/css/all.min.css">
<link rel="stylesheet" href="{{root}}assets/css/shastan.css">
